@mixin animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@mixin fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@mixin fade {
    -webkit-animation-name: fadeInDown;
    animation-name: fade;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}