@import 'animations.scss';

/*formularios*/
label{
    font-size: 15px;
    font-weight: 400;
    color: $detail-color;
}
input{
    margin: 5px 0px 5px 0px;
    padding: 12px 10px 12px 10px;
    border-radius: 5px;
    border: solid 1px $border-color;
    transition: 0.3s ease-out;
}

input:hover{
    border-color: $detail-color;
}

input:focus{
    outline: 1px solid $detail-color;
}

/*botones*/
@mixin btn{
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary{
    @include btn;
    background-color: $card-color;
    color: white;
    outline: 1px solid $border-color;
    color: $font-color ;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: $background-color;
}

.btn-auth{
    @include btn;
    background-color: $detail-color;
    color: white;
}
.btn-menu{
    @include btn;
    display: flex;
    color:$font-color;
    gap: 10px;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 100%;
}
.btn-menu:hover{
    background-color: $background-color;
}
.btn-menu-selected{
    background-color: $background-color;
}

/*alertas*/
.alert{
    @include animated;
    @include fadeInDown;
    background-color: #ff2121;
    padding: 20px 10px 20px 10px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    color: rgb(241, 241, 241);
}

/*vistas*/
.view-container{
    @include animated;
    @include fadeInDown;
    padding: 20px 20px 20px 20px;

    .card{
        background-color: $card-color;
        border-radius: 5px;
        //box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        border: solid 1px $border-color;
    }

    .table-container{
        width: 100%;
        border-radius: 5px;
        overflow: auto;
    }

    //dashboard
    .dashboard-card{
        padding: 20px 20px 20px 20px;
        background-color: $card-color;
        width: fit-content;
        border-radius: 10px;
        border: solid 1px $border-color;
        display: flex;
        gap: 20px;
        .first{
            display: flex;
            align-items: center;
        }
        .second{
            p{
                margin-right: 100px;
            }
            .primer-parrafo{
                font-size: 18px;
                font-weight: 600;
            }
        }
        .third{
            display: flex;
            align-items: center;
            div{
                padding: 5px 20px 5px 20px;
                background-color: $card-color;
                border: solid 1px $border-color;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
            div:hover{
                background-color: $background-color;
            }
        }
    }

}

/*PARRAFOS*/
.title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*TABLA*/
table{
    background-color: $card-color;
    width: 100%;
    thead{
        background-color: $background-color;
        border: solid 1px $border-color;
    }
    th{
        text-align: left;
        padding: 10px 10px 10px 10px;
    }
    tr{
        border: solid 1px $border-color;
        td{
            padding: 10px 10px 10px 10px;
        }
    }
    td{

        button{
            margin: 10px 10px 10px 10px;
        }
    }
}

/*Notificaciones*/
.notification-success{
    @include animated;
    opacity: 0;
    position: fixed;
    background-color: $detail-color;
    top: 60px;
    right: 30px;
    color: white;
    padding: 15px 50px 15px 50px;
    font-size: 18px;
    border-radius: 15px;
}