//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//COLORES
$backgrodund-color: #F7F8FB;
$card-color: #FFFFFF;
$border-color: #e7e7e7;
$detail-color: #417B64;

//AJUSTES GENERALES
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}